<div class="container pt-5 pb-5">
    <div class="row">
        <div class="col-7 d-flex align-items-center">
            <img class="w-100 " src="../../../assets/landing phone.png" alt="">


        </div>
        <div class="col-5 d-flex align-items-center">
            <div>
                <p class="main-txt">بدات الخانة باسم فرصة خانة في الشهر الثالث من عام 2019 كقناة على تطبيق التلكرام، سرعان ما اصبح الاقبال عليها كبيرا واصبحت مرجع لفئة كبيرة من الناس، حينها اتت فكرة منصة الخانة وهي منصة تجمع اصحاب الفرص مع الباحثين عنها وتسهل عملية وصول الفرص اليهم، وتسهيلات اخرى تم استنتاجها من عملنا طيلة السنتين الماضية وتقديمنا للخدمات هه بصورة مجانية
                </p>
                <a href="" class=""> <img class="w-50 mr-2 py-3" src="../../../assets/imgs/andirod.png" alt=""></a>
                <a href="" class=""> <img class="w-50" src="../../../assets/imgs/apple.png" alt=""></a>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-7 d-flex align-items-center mt-5">
            <div>
                <h3 class="sub-title text-right">
                    منصة الخانة
                </h3>
                <p class="main-txt text-right">
                    منصة تسعى إلى تحقيق الوصول العادل إلى فرص العمل والتدريب لجميع الشباب العراقي ، وهي شركة عراقية ناشئة تشجع الشباب على تطوير أنفسهم من خلال نشر فرص التدريب وفرص العمل لهم حيث تمثل المنصة حلقة وصل بين اصحاب الفرص والباحثين عليها لتكون مكان مختص ومرجع اساسي لكل الفرص المتوفرة للشباب العراقي.
                </p>
            </div>
        </div>
        <div class="col-5">
            <svg xmlns="http://www.w3.org/2000/svg" width="15em" viewBox="0 0 612.432 615.984">
                <g id="Group_97" data-name="Group 97" transform="translate(-1187.097 -6903.521)">
                    <rect id="Rectangle_41" data-name="Rectangle 41" width="136.157" height="136.157"
                        transform="translate(1527.53 7175.521)" fill="#9553f3" />
                    <circle id="Ellipse_9" data-name="Ellipse 9" cx="68.079" cy="68.079" r="68.079"
                        transform="translate(1391.373 7175.521)" fill="#ffc431" />
                    <circle id="Ellipse_11" data-name="Ellipse 11" cx="68.079" cy="68.079" r="68.079"
                        transform="translate(1663.373 6903.521)" fill="#e4e4e4" />
                    <rect id="Rectangle_60" data-name="Rectangle 60" width="96.278" height="96.278"
                        transform="translate(1255.373 7246.793) rotate(-45)" fill="#3bc497" />
                    <path id="Rectangle_48" data-name="Rectangle 48"
                        d="M0,0H272.314a0,0,0,0,1,0,0V1.324A134.833,134.833,0,0,1,137.481,136.157H0a0,0,0,0,1,0,0V0A0,0,0,0,1,0,0Z"
                        transform="translate(1799.373 7039.354) rotate(90)" fill="#f0f0f0" />
                    <path id="Rectangle_65" data-name="Rectangle 65"
                        d="M67.416,0h1.324a67.416,67.416,0,0,1,67.416,67.416v.662a0,0,0,0,1,0,0H0a0,0,0,0,1,0,0v-.662A67.416,67.416,0,0,1,67.416,0Z"
                        transform="translate(1255.176 7178.265) rotate(90)" fill="#f7f7f7" />
                    <rect id="Rectangle_47" data-name="Rectangle 47" width="272.314" height="136.157" rx="67.416"
                        transform="translate(1391.373 7038.364)" fill="#f7f7f7" />
                    <rect id="Rectangle_66" data-name="Rectangle 66" width="274.666" height="135.833"
                        transform="translate(1252.75 7315.572)" fill="#f0f0f0" />
                    <path id="Path_54" data-name="Path 54" d="M0,269.537H136.158L68.08,337.616Z"
                        transform="translate(1527.216 7789.043) rotate(180)" fill="#e8e8e8" />
                </g>
            </svg>

        </div>
    </div>
</div>