<div class="upping-component">
<div class="bottom-slider">
  <div class="bottom-slider-cell w-100 " *ngFor="let slide of slides">
    <div class="cell-img d-flex justify-content-around align-items-end pb-3">
      <div class="row justify-content-around">
        <div class="col d-flex justify-content-center align-items-end">
          <a (click)='prevSlide()'class="np-btn d-none d-lg-block"><svg xmlns="http://www.w3.org/2000/svg" width="8" height="25.242" viewBox="0 0 14.121 25.242">
            <g id="Icon_feather-arrow-right" data-name="Icon feather-arrow-right" transform="translate(30 30.621) rotate(180)">
              <path id="Path_32" data-name="Path 32" d="M18,7.5,28.5,18,18,28.5" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
            </g>
          </svg>
          التالي </a>
        </div>
        <div class="col-5 d-flex justify-content-center ">
          <img class="slide-img" [src]='slide.img' alt="">

        </div>
        <div class="col d-flex justify-content-center align-items-end">
          <a (click)='nextSlide()' class="np-btn d-none d-lg-block">السابق 
            <svg xmlns="http://www.w3.org/2000/svg" width="8"  viewBox="0 0 14.121 25.242">
              <g id="Icon_feather-arrow-right" data-name="Icon feather-arrow-right" transform="translate(-15.879 -5.379)">
                <path id="Path_32" data-name="Path 32" d="M18,7.5,28.5,18,18,28.5" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
              </g>
            </svg>
            
          </a>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <div class="content">
        <h4 class="sub-title py-2 text-right">{{slide.title}}</h4>
        <p class="main-txt text-right"> {{slide.body}}</p>
      </div>
    </div>
  </div>

</div>
</div>