*{
    color: white;
}
.bottom-slide-img{
    height: 20rem;
    object-fit: cover;
}
.bottom-slide-cell{
    width: 100%;
}
.np-btn{
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
}
.np-btn:hover{
    color: rgb(133, 133, 133);
    text-decoration: none;
    transition-duration: 0.5s;
    border-color: rgb(133, 133, 133);
    cursor: pointer;
}
.content{
    width: 60.7vw;
}


@media (min-width: 0px) {

    .bottom-slide-img{
        height: 20rem;
        object-fit: cover;
    }
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {
    .bottom-slide-img{
        height: 35rem;
        object-fit: cover;
    }

    .bottom-slider{
        
    }
}

@media (min-width: 1200px) {
  
}