<div class="container padding-component">
  <app-upper-slider></app-upper-slider>
    <div class="row pt-5">
      <div class="col-5 d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="15em" viewBox="0 0 674.75 607.007">
          <g id="Group_14" data-name="Group 14" transform="translate(-120.333 -2573.398)">
            <rect id="Rectangle_7" data-name="Rectangle 7" width="134.833" height="134.833"
              transform="translate(524.833 2910.666)" fill="#ea2444" />
            <circle id="Ellipse_7" data-name="Ellipse 7" cx="67.417" cy="67.417" r="67.417"
              transform="translate(390 2910.666)" fill="#3bc497" />
            <rect id="Rectangle_8" data-name="Rectangle 8" width="269.666" height="134.833" rx="67.416"
              transform="translate(390 2775.833)" fill="#ffc431" />
            <path id="Path_7" data-name="Path 7" d="M269.667,675.487,404.5,540.654,539.333,675.487Z"
              transform="translate(120.333 2100.346)" fill="#9553f3" />
            <rect id="Rectangle_19" data-name="Rectangle 19" width="269.666" height="134.833"
              transform="translate(389.999 2641.155) rotate(90)" fill="#f0f0f0" />
            <path id="Rectangle_26" data-name="Rectangle 26"
              d="M0,0H0A134.833,134.833,0,0,1,134.833,134.833v0a0,0,0,0,1,0,0H0a0,0,0,0,1,0,0V0A0,0,0,0,1,0,0Z"
              transform="translate(659.999 2775.499)" fill="#f7f7f7" />
            <path id="Rectangle_21" data-name="Rectangle 21"
              d="M67.416,0h0a67.416,67.416,0,0,1,67.416,67.416v0a0,0,0,0,1,0,0H0a0,0,0,0,1,0,0v0A67.416,67.416,0,0,1,67.416,0Z"
              transform="translate(389.834 2640.814) rotate(180)" fill="#f7f7f7" />
            <g id="Group_11" data-name="Group 11" transform="translate(-149 2167)">
              <path id="Path_18" data-name="Path 18" d="M809,878.4V743.565L876.416,878.4Z" fill="#f7f7f7" />
              <path id="Path_19" data-name="Path 19" d="M943.832,878.4V743.565L876.416,878.4Z" fill="#f7f7f7" />
            </g>
            <path id="Rectangle_18" data-name="Rectangle 18"
              d="M0,0H269.666a0,0,0,0,1,0,0V0A134.833,134.833,0,0,1,134.833,134.833H0a0,0,0,0,1,0,0V0A0,0,0,0,1,0,0Z"
              transform="translate(795.084 3180.405) rotate(180)" fill="#f0f0f0" />
            <g id="Group_10" data-name="Group 10" transform="translate(-419 2100)">
              <path id="Path_11" data-name="Path 11" d="M539.333,675.487,674.166,742.9H539.333Z" fill="#f0f0f0" />
              <path id="Path_12" data-name="Path 12" d="M539.333,742.9,674.166,810.32H539.333Z" fill="#f0f0f0" />
            </g>
          </g>
        </svg>
      </div>
      <div class="col-7 d-flex align-items-center" >
        <div>
          <h4 class="sub-title text-right" >من نحن؟</h4>
          <p class="main-txt text-right"> مشروع يشجع الشباب على تطوير ذاتهم وخلق افاق جديدة من اجل ضمان مستقبل افضل لهم وللمجتمع. تقدم الخانة مجموعة من الخدمات التي تشمل التدريب والتوظيف اضافة الى توفير منصة تجمع كل فرص التدريب،العمل،الاحداث الثقافية والاجتماعية، المنح الدراسية، الزمالات، التدريبات، المؤتمرات وغيرها, حيث ان هذه المنصة تشكل مرجعا اساسيا ورئيسيا لجميع الفرص المتوفرة للشباب.</p>
        </div>
      </div>
    </div>
  </div>
 