/* title  */
.upper-slider{
    position: relative;
   
}
.upper-slider-cell{
    width: 100%;

}
.dot{
    width:8px;
    height:8px;
    border-radius: 100%;
    background-color: #FFC431;
}
.selected{
    width:8px;
    height:8px;
  border-radius: 100%;
  background-color: #FFC431;
  outline: 0.5vw solid white;
}
.positions-bottom {
    width: 100%;
    position: absolute;
    bottom: 0;
}





@media (min-width: 0px) {
    .slide-img{
        
        object-fit: cover;
        object-position: right;
    } 
    .upper-slider{
        position: relative;
       
    }
    
}

@media (min-width: 576px) {
    .slide-img{
       height: 450px;
        object-fit: cover;
    } 
    .upper-slider{
        position: relative;
    }
    
}

@media (min-width: 768px) {
    .slide-img{
        max-width: 70%;
         object-fit: cover;
     } 
     .upper-slider{
        position: relative;
    }
}

@media (min-width: 1200px) {

}