<div class="upper-slider">
    <div class="upper-slider-cell" *ngFor="let slide of slideInfo">
        <div class="row">
            <div class="col-7">
                <div class="upper-slider-group positions-bottom">
                <h4 class="sub-title">{{slide.title}}</h4>
                <p class="main-txt">
                    {{slide.body}}
                </p>
            </div>
                <div class="positions-bottom d-flex justify-content-around align-items-center">
                    <div class="dot" *ngFor="let slide of slideInfo" [ngClass]="{'selected':slide.isSelected,'dot':!slide.isSelected}">.</div>
                </div>
            </div>
            <div class="col">
                <img [src]='slide.imgSrc' alt="" class="slide-img mx-auto">
            </div>
        </div>
    </div>

</div>