/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~flickity/css/flickity.css";
@import "~flickity-fade/flickity-fade.css";

*{
  font-family: Almarai;
}
html{
    font-size: 16px;
    overflow-x: hidden;
  }

.sub-title{
    font-weight: 900;
    font-size: 28px;
    
}
.main-txt{
  font-size: 16px;
    font-weight: 400;
}

.slide-img{
  width: 100%;
  padding-left: 1vw;
  height: 60vw;
  object-fit: cover;
}
.bg-orange{
  background-color: #FFC431;
}
  @media screen and (min-width: 320px) {
    html {
      font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
  }
  @media screen and (min-width: 1000px) {
    html {
      font-size: 22px;
    }
    .sub-title{
      font-weight: 900;
      font-size: 35px;
      
  }
  .main-txt{
    font-size: 25px;
      font-weight: 400;
  }

  }





/*  */

@media (min-width: 0px) {
  .slide-img{
      
      object-fit: cover;
      object-position: right;
  } 
  
  
}

@media (min-width: 576px) {
  .slide-img{
     height: 450px;
      object-fit: cover;
  } 
  .upper-slider{
      position: relative;
      
  }
  
}

@media (min-width: 768px) {
  .slide-img{
      max-width: 70%;
       object-fit: cover;
   } 
 
}

@media (min-width: 1200px) {

}




